body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


.container {
    padding: 24px;

    height: 80%;
    width: 80%;
    max-width: 600px;
    margin: auto;
}


h1 {
    font-size: 24px;
    font-family: "Jost", sans-serif;

    height: 48px;

    color: #333;
    margin-bottom: 64px;
}

img {
    width: 97%;
    height: 200px;

    border-radius: 12px;

    object-fit: cover;
    margin-bottom: 16px;
}

.question {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;

    height: 48px;

    margin-bottom: 24px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 24px;
    height: auto;
}

button {
    cursor: pointer;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;

    width: 280px;
    height: 64px;

    border: solid 1px rgb(220, 220, 220);
    border-radius: 6px;
    background-color: #eaeaea;

    transition: 0.2s;
}

button:hover {
    background-color: #3d81ff;
    border-color: #3d81ff;
    color: #fff;

    transition: 0.3s;
}