body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 600px;
    width: 100%;
    text-align: center;
    position: absolute;
}

.team-name {
    font-style: italic;
    color: #665;
    position: absolute;
    bottom: 380px;
    font-size: 16px;
    left: -50%;
}

h2 {
    font-size: 14px;
    color: #333;
    margin: 20px 0;
}

.themes {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 10px;
}

.theme-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #4A6CF7;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.theme-button:hover {
    background-color: #3b54c4;
}
