body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 600px;
    width: 100%;
    text-align: center;
    position: relative;
}

.team-name {
    font-style: italic;
    color: #665;
    position: absolute;
    top: -100px;
    left: -300px;
    font-size: 16px;
}

h2 {
    font-size: 14px;
    color: #333;
    margin: 20px 0;
}

.themes {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.theme-title {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.theme-button {
    cursor: pointer;
    width: 180px;
    height: 300px;
    border: none;
    background-color: #4A6CF7;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    transition: 0.3s;
}

.theme-button-img {
    height: 240%;
    width: auto;
    top: 0;
    object-fit: contain;
    transition: 1s;
}

.theme-button-img:hover {
    height: 102%;
    transition: 0.5s;
}

.theme-button:hover {
    background-color: #3b54c4;
    width: 220px;
    transition: 0.5s;
}