body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 600px;
    width: 100%;
    text-align: center;
    position: relative;
}

.team-name {
    font-style: italic;
    color: #665;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
}

h2 {
    font-size: 14px;
    color: #333;
    margin: 20px 0;
}

.themes {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.theme-button {
    display: flex;
    cursor: pointer;

    width: 180px;
    height: 300px;

    border: none;

    background-color: #4A6CF7;
    color: #fff;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.theme-button-img {
    display: block;

    height: auto;
    width: 500%;
    top: 0;

    object-fit: contain;
    transition: 1s;
}

.theme-button-img:hover {
    height: auto;
    width: 300%;

    transition: 0.5s;
}

.theme-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.theme-button:hover {
    background-color: #3b54c4;
}

